@import '../pages/Home/home.scss';

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #f48227;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    @include tablet {
      padding-top: calc(100vh - 100px);
      font-size: 30px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
}
